body {
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
}

#title {
  background-color: #da2d2d;
  color: #fdba9a;
}

h1, h2, h3,  {
  font-family: 'Montserrat-Black';
}

p {
  color: #8f8f8f;
}

.big-heading {
  font-size: 3.2rem;
  line-height: 1.5;
  font-weight: bold;
  text-align: left;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid1 {
  padding: 0 10%;
}

/*Navigation Bar*/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/*Download button*/
.downloadbtn {
  margin: 5% 3% 5% 0;
  /*top right left bottom*/
}

/*Title Image*/
.dogPic {
  width: auto;
  max-height: 550px;

}

/*Features Section*/
.appfeaturesicon {
  color: #C81625;
  margin-bottom: 1rem;
}

.appfeaturesicon:hover {
  color: #DA2C2D;
}

.featurestext {
  font-size: 1.5rem;
}
.feature-box {
  padding: 4.5%;
}

#features {
  padding: 5% 10%;

}

/*Testimonials Section*/
#testimonials {


  background-color: #C81625;
  color: #fdba9a;
}
.testimonial-text {
  font-size: 3rem;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.plyer {
  color: white;
}

.carousel-item {
  height: 500px;
  padding: 5% 10%;

}
.carousel-inner {

}

/*Press Section*/

#press {
  background-color: #C81625;

  padding-bottom: 5%;

}
.press-logo {
  width: 10%;
  margin: 0 5%;;
}

/* Pricing Section*/
#pricing {

  padding: 100px;
}
.card-deck {
  margin: auto;
  padding: 3% 2%;
}
.card {
  margin: 3% 0;
}
.price-tag {
  font-size: 3rem;
}
 .subscription-name {
   font-size: 1.5rem;
 }
/*Call To Action*/
#cta {

  background-color: #C81625;
  color: #fdba9a;
  padding: 3% 10%;
}
.cta-text {
  font-weight: bold;
  font-size: 3rem;
  width: 60%;
  margin: auto;
}
.cta-download-btn {
  margin: 3% 1%;
}


/*Footer*/

#footer {


}
.footer-icon {
  margin: 1% 1%;
}


@media (max-width:992px) {

.nav-link {
  text-align: right;
}
  #testimonials {
    font-size: 15px;
  }
  .big-heading {
    text-align: center;
  }
  #title {
    text-align: center;
  }
  .cta-text {
    width: 100%;
    margin-bottom: 3%;
  }
    .dogPic {
    position: relative;
    left: 80px;
  }
}
