body {
  font-family: "Montserrat";
  font-weight: 400;
}

#title {
  background-color: #da2d2d;
  color: #fdba9a;
}

h1 {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;

}

h2 {
  font-family: 'Montserrat';
  font-size: 3em;
  line-height: 1.5;

}

h3 {
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

.container-fluid1 {
  padding: 0 15%;
}

/*Navigation Bar*/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/*Download button*/
.downloadbtn {
  margin: 5% 3% 5% 0;
  /*top right left bottom*/
}

/*Title Image*/
.dogPic {
  width: auto;
  max-height: 550px;

}

/*Features Section*/
.appfeaturesicon {
  color: #C81625;
  margin-bottom: 1rem;
}

.appfeaturesicon:hover {
  color: #DA2C2D;
}

.feature-box {
  padding: 4.5%;
}

#features {
  padding: 5% 15%;
  text-align: center;
}

/*Testimonials Section*/
#testimonials {

  text-align: center;
  background-color: #C81625;
  color: #fdba9a;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.plyer {
  color: white;
}

.carousel-item {
  height: 500px;
  padding: 5% 15%;

}
.carousel-inner {
  text-align: center;
}

/*Press Section*/

#press {
  background-color: #C81625;
  text-align: center;
  padding-bottom: 5%;

}
.press-logo {
  width: 10%;
  margin: 0 5%;;
}

/* Pricing Section*/
#pricing {
  text-align: center;
  padding: 100px;
}
.card-deck {
  margin: auto;
  padding: 3% 2%;
}
.card {
  margin: 3% 0;
}

/*Call To Action*/
#cta {
  text-align: center;
  background-color: #C81625;
  color: #fdba9a;
  height: auto;
}
.cta-text {
  font-weight: bold;
  margin: 3% auto;
  font-size: 3rem;
  width: 40%;
}
.cta-download-btn {
  margin: 2% 1%;
}


/*Footer*/

#footer {
  text-align: center;

}
.footer-icon {
  margin: 1% 1%;
}


@media (max-width:880px) {

  #title {
    text-align: center;
  }
  #testimonials {
    font-size: 15px;
  }
}
